
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;

    background: #030712;
  color: white;
  overflow-x: hidden;
}


/* ADD IN index.css */

/* Floating Balls */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

.animate-floatSlow {
  animation: float 8s ease-in-out infinite;
}

/* Waves */
@keyframes waveSlow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes waveFast {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-waveSlow {
  animation: waveSlow 18s linear infinite;
}

.animate-waveFast {
  animation: waveFast 12s linear infinite;
}

/* Marquee */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}


